{% for group in record.body %}
    {% if group.block == 'text' %}
        {% include 'templates/blocks/_text.twig' %}
    {% elseif group.block == 'heading' %}
        {% include 'templates/blocks/_heading.twig' %}
    {% elseif group.block == 'subheading' %}
        {% include 'templates/blocks/_subheading.twig' %}
    {% elseif group.block == 'picture' %}
        {% include 'templates/blocks/_picture.twig' %}
    {% elseif group.block == 'quote' %}
        {% include 'templates/blocks/_quote.twig' %}
    {% elseif group.block == 'embed' %}
        {% include 'templates/blocks/_embed.twig' %}
    {% endif %}
{% endfor %}
