/*
 * Theme Name: My Timber Starter Theme
 * Description: Starter Theme to use with Timber
 * Author: Upstatement and YOU!
*/


@tailwind preflight;


@tailwind components;

.paragraphs p {
    @apply mb-3;
}

.paragraphs p:last-child {
    @apply mb-0;
}

.effect {
    transition: 0.3s;
}

@tailwind utilities;

@responsive {
    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
    .centered {
        display: table-cell;
        vertical-align: middle;
    }
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[hidden] {
  display: none;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main {
    flex: 1;
}

.card-link::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.line {
    @apply relative text-black no-underline ;
    &:after {
        @apply absolute pin-b pin-l w-0 bg-pink h-px ;
        transition: 0.3s;
        content: '';
    }
    &:hover {
        @apply text-pink ;
        &:after {
            width: 100%;
        }
    }
}



.facebook {
    color: #3B5998;
}

.bg-facebook {
    background-color: #3B5998;
}

.twitter {
    color: #1DA1F2;
}

.bg-twitter {
    background-color: #1DA1F2;
}

.instagram {
    color: #E4405F;
}

.bg-instagram {
    background-color: #E4405F;
}

.pinterest {
    color: #BD081C;
}

.bg-pinterest {
    background-color: #BD081C;
}

.linkedin {
    color: #0077B5;
}

.bg-linkedin {
    background-color: #0077B5;
}
