{% extends 'templates/parts/_layout.twig' %}

{% block content %}

    <section class="pl-2 pr-3 mb-9 lg:min-h-64">
        <img src="{{ record.logo|image }}" class="block max-w-48"  />
        <div class="text-36 text-blue font-regular bg-white opacity-75 inline-block p-1 leading-tight my-6 lg:w-1/2">{{ record.teaser|raw }}</div>
        <div class="paragraphs opacity-75 inline-block p-1 lg:w-1/2 text-grey-darker">
            {{ record.text|raw }}
            <a class="centered border-2 border-style-solid px-3 h-6 text-14 font-bold lowercase no-underline text-grey border-grey-lighter shadow-0 hover:bg-blue hover:border-blue hover:text-white hover:shadow-2" href="{{ about.link }}" title="{{ about.title }}">περισσότερα</a>
        </div>
    </section>

    {% setcontent services = 'services' %}

    <section class="w-full px-3">
        <div class="lg:w-1/2 text-18">
            Η Easy Engineering έχοντας σαν στόχο την ολοκληρωμένη κάλυψη των πελατών της παρέχει τις ακόλουθες υπηρεσίες:
        </div>
        {% for service in services %}
            <div class="py-3 border-b border-blue lg:w-1/2">
                <h3 class="font-bold text-16 mb-3 text-blue">{{ service.title }}</h3>
                <div class="">
                    {{ service.text|raw }}
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock content %}
