{% extends 'templates/parts/_layout.twig' %}

{% block content %}

    <header class="px-3 mb-9">
        <h1>{{ record.title }}</h1>
    </header>

    <div class="flex flex-row flex-wrap">

        {% if record.slug == 'epikinonia' %}
        <section class="w-full px-3 mb-9">
            {% include('templates/blocks/_index.twig') %}
        </section>
        {% else %}
        <section class="w-full lg:w-1/2 px-3 mb-9">
            {% include('templates/blocks/_index.twig') %}
        </section>
        {% endif %}

        {% if record.slug == 'poioi-eimaste' %}
        <section class="w-full">
            {% setcontent clients = 'clients' %}
            <h2 class="w-full p-3 font-18 text-blue">Μερικοί απ τους πελάτες μας:</h2>
            <ul class="flex flex-row flex-wrap justify-center">
                {% for client in clients %}
                <li class="w-24 block p-3 mb-3">
                    <img class="block w-full" src="{{ client.logo|image }}" alt="{{ client.title }}" />
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </div>

{% endblock content %}
