{% extends 'templates/parts/_layout.twig' %}

{% block content %}


    <header class="pl-2 pr-3 mb-9">
        <p class="uppercase tracking-wide text-blue bg-white opacity-75 inline-block p-1 leading-none">{{ record.industry }}</p>
        <div>
            <h1 class="text-72 text-black font-regular bg-white opacity-75 inline-block p-1 leading-none">{{ record.title }}</h1>
        </div>
        <p class="bg-white opacity-75 inline-block p-1 leading-none">{{ record.longname }}</p>

    </header>

    <div class="flex flex-row flex-wrap">

        <section class="w-full lg:w-1/2 px-3 mb-9 py-2 bg-white opacity-75">
            {% include('templates/blocks/_index.twig') %}
        </section>

        {% if record.benefits|length > 0 %}
        <section class="w-full lg:w-1/2 px-3 mb-9">
            <h2 class="mb-3">Ορισμένα από τα χαρακτηριστικά του προγράμματος είναι:</h2>
            <ul class="list-reset border-t border-solid border-grey">
                {% for entry in record.benefits %}
                <li class="px-1 py-2 border-b border-solid border-grey">
                    {% if entry.benefitstitle|length > 0 %}
                    <h3>{{ entry.benefitstitle }}</h3>
                    {% endif %}
                    <div class="paragraphs text-16">
                        {{ entry.benefitscontent|raw }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

    </div>


{% endblock content %}
