<!doctype html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8" />
    <title>
        {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
            {{ config.get('general/sitename') -}}
        {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
    </title>
    <meta name="description" content="">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('css/app.css', 'theme') }}">
    </head>

    <body class="leading-normal font-sans text-16 text-grey-dark">
        <a class="skip-link" href="#main">Κατευθείαν στο περιεχόμενο</a>
        <header class="flex flex-row justify-between py-1 px-3 h-8 bg-white shadow-2" >
            {% setcontent home = 'homepage' %}
            <div class="block w-auto" role="banner">
                <a class="h-6 flex flex-row items-center no-underline justify-start text-grey-dark hover:text-blue" href="{{ url('homepage') }}" rel="home">
                    <img src="{{ home|first.logosquare|image() }}" class="h-6 w-6 mr-1" />
                    {% if record != home %}
                    <p class="leading-none font-bold text-18">{{ config.get('general/sitename') -}}</p>
                    {% endif %}
                </a>
            </div>

            <nav class="h-8">
                <ul class="flex flex-row justify-end list-reset h-4 py-1">
                    <li class="relative">
                        <button class="dropdown-button border-2 border-style-solid px-3 h-4 text-14 font-bold lowercase text-grey border-grey-lighter shadow-0 hover:bg-blue hover:border-blue hover:text-white hover:shadow-2" data-dropdown-opens="#menudropdown-1" aria-expanded="false" aria-haspopup="true">Προγράμματα</button>
                        {% setcontent programs = 'programs' %}
                        <ul class="list-reset absolute bg-white z-50 shadow-3" id="menudropdown-1" hidden>
                            {% for item in programs %}
                            <li class="hover:bg-blue-lighter">
                                <a class="no-underline centered h-6 whitespace-no-wrap p-2 text-14 text-grey-dark hover:bg-blue-lighter w-full" href="{{ item.link }}" title="{{ item.title }} - {{ item.industry }}">{{ item.longname }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% setcontent about = 'selida/poioi-eimaste' %}
                    <li class="ml-2">
                        <a class="centered border-2 border-style-solid px-3 h-4 text-14 font-bold lowercase no-underline text-grey border-grey-lighter shadow-0 hover:bg-blue hover:border-blue hover:text-white hover:shadow-2" href="{{ about.link }}">{{ about.title }}</a>
                    </li>
                    {% setcontent contact = 'selida/epikinonia' %}
                    <li class="ml-2">
                        <a class="centered border-2 border-style-solid px-3 h-4 text-14 font-bold lowercase no-underline text-grey border-grey-lighter shadow-0 hover:bg-blue hover:border-blue hover:text-white hover:shadow-2" href="{{ contact.link }}">{{ contact.title }}</a>
                    </li>
                </ul>
            </nav>

        </header>

        <main id="main" role="main" class="relative">
            {% if record.image is defined %}
                <div class="absolute pin-r pin-t md:w-96 lg:w-120 h-full z--20 bg-right-top bg-no-repeat" style="background-image:url('{{ record.image|image }}'); background-size:100%;"></div>
            {% endif %}
            <div class="container mx-auto pt-9">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
        </main>

        <footer id="footer">
        </footer>
        <script src="{{ asset('scripts/app.js', 'theme') }}" defer></script>
    </body>
</html>
