<nav class="h-4">
    <ul class="flex flex-row justify-end list-reset h-4">
        <li>
            <button class="h-4">Προγράμματα</button>
            <div class="dropdown">
                {% setcontent programs = 'programs' %}
                <ul class="list-reset">
                    {% for item in programs %}
                    <li>
                        <a class="no-underline" href="{{ item.link }}">{{ item.longname }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% setcontent about = 'selida/poioi-eimaste' %}
        <li class="h-4 block">
            <a class="" href="{{ about.link }}">{{ about.title }}</a>
        </li>
        {% setcontent contact = 'selida/epikinonia' %}
        <li class="h-4 block">
            <a class="" href="{{ contact.link }}">{{ contact.title }}</a>
        </li>
    </ul>
</nav>
