{% extends 'partials/_master.twig' %}

{% block main %}

{# Pages section #}

<section class="section section-pages hero is-success is-bold">
    <div class="container">
        <h2 class="title">Pages</h2>
        <div class="columns">
        </div>
    </div>
</section>

{# Latest entries #}

<section class="section section-latest-entries">
    <div class="container">
        <h2 class="title">Latest Entries</h2>
    </div>
</section>


{% endblock main %}
