{% extends 'partials/_master.twig' %}

{% block main %}
<section class="section section-listing">
    <div class="container">
    {# This template is used for 'listings': Generic pages that list a number of
        records from a certain contenttype. These records are available as an array
        called 'records'. In the for-loop below, we iterate over the records that
        are on this page. It can be used for overview pages like 'all entries', or
        'all records tagged with kittens'. #}

    {# If used for listing a taxonomy, we add a heading.: #}

    {% for record in records %}
        <article role="article" class="media columns">
            <div class="media-content column is-7">
                <div class="content">
                    <h2 class="title"><a href="{{ record.link }}">{{ record.title }}</a></h2>


                </div>
            </div>

        </article>
    {% endfor %}

    </div>
</section>
{% endblock main %}
