{% extends 'partials/_master.twig' %}

{% setcontent record = 'blocks/404-not-found' %}

{% block main %}

<section class="section section-not-found">
    <div class="container">
        <div class="content">
        </div>

        <form class="field has-addons" method="get" action="{{ path('search') }}" enctype="text/plain">
            <label class="label is-hidden" for="search-box">Search</label>
            <div class="control">
                <input class="input" type="search" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search" id="search-box">
            </div>
            <div class="control">
                <button class="button is-primary" type="submit">{{ __('general.phrase.search') }}</button>
            </div>
        </form>

    </div>
</section>
{% endblock main %}
 

 
