{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-page">
    <div class="container">
        <div class="columns">
        </div>
    </div>
</section>

{% endblock main %}
